<div class="photo-card">
    <a class="gallery__item link" href="">
        <img class="img-card" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" loading="lazy" />
        <div class="info-item">
            <p class="info-item__name">
                {{title}}
            </p>
            <div class="info-item__desk">
                <p class="info-item__genres">
                    {{genres}}
                </p>
                <p class="info-item__date">
                    {{year}}
                </p>
            </div>
        </div>
    </a>
    
</div>
