<li class="link">
    <button type="button" class="btn-left">
        <svg class="btn__icon" width="16" height="16">
            <use class="" href="/icon.a422163e.svg#icon-arrow-right"></use>
        </svg>
    </button>
</li>

<li class="link">
    <button type="button" class="btn-left">
        <svg class="btn__icon" width="16" height="16">
            <use class="" href="/icon.a422163e.svg#icon-points"></use>
        </svg>
    </button>
</li>