<div class="photo-card">
    <a class="gallery__item link" href="">
        <img class="img-card" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" loading="lazy" />
        <div class="info">
            <p class="info-item">
                {{title}}
            </p>
            <p class="info-item">
                {{title}}
            </p>
            <p class="info-item">
                {{genre}}
            </p>
        </div>
    </a>
    
</div>

{{!-- <div class="photo-card">
    <p class="info-item">
        Hello
    </p>
</div> --}}