<section class="footer section">
    <div class="container">
        <button type="button" class="btn-left">
            <svg class="btn__icon" width="16" height="16">
                <use class="" href="./images/icon.svg#icon-arrow-left"></use>
            </svg>
        </button>

        <ul class="btn-list list">
            <li class="link link-first-points">
                <button type="button" class="btn-points">
                    <svg class="btn__icon" width="16" height="11">
                        <use class="" href="./images/icon.svg#icon-points"></use>
                    </svg>
                </button>

                <li class="link link-last-points">
                    <button type="button" class="btn-points">
                        <svg class="btn__icon" width="16" height="11">
                            <use class="" href="./images/icon.svg#icon-points"></use>
                        </svg>
                    </button>
                </li>
            </li>

        </ul>

        <button type="button" class="btn-left">
            <svg class="btn__icon" width="16" height="16">
                <use class="" href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
        </button>

    </div>
</section>