<section class="footer section">
    <div class="container">
        <button type="button" class="btn-left">
            <svg class="btn__icon" width="16" height="16">
                <use class="" href="./images/icon.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button type="button" class="btn-first">1</button>
        <button type="button" class="btn-points-start">
            <svg class="btn__icon" width="16" height="11">
                <use class="" href="./images/icon.svg#icon-points"></use>
            </svg>
        </button>

        <ul class="btn-list list">

        </ul>
        <button type="button" class="btn-points-end">
            <svg class="btn__icon" width="16" height="11">
                <use class="" href="./images/icon.svg#icon-points"></use>
            </svg>
        </button>
        <div class="block-last-btn">

        </div>

        <button type="button" class="btn-right">
            <svg class="btn__icon" width="16" height="16">
                <use class="" href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
        </button>

    </div>
</section>