<section class="footer section">
    <div class="container">
        <a href="#headerID" data-buttonid=4 class="btn-left">
            <svg data-buttonid=4 class="btn__icon" width="16" height="16">
                <use data-buttonid=4 href="./images/icon.svg#icon-arrow-left"></use>
            </svg>
        </a>
        <a href="#headerID" data-buttonid=1 class="btn-first btn-active">1</button>
        <a href="#headerID" data-buttonid=2 class="btn-points-start">
            <svg data-buttonid=2 class="btn__icon" width="16" height="11">
                <use data-buttonid=2 href="./images/icon.svg#icon-points"></use>
            </svg>
        </a>

        <ul class="btn-list list">

        </ul>
        <a href="#headerID" data-buttonid=3 class="btn-points-end">
            <svg data-buttonid=3 class="btn__icon" width="16" height="11">
                <use data-buttonid=3 href="./images/icon.svg#icon-points"></use>
            </svg>
        </a>
        <div class="block-last-btn">

        </div>

        <a href="#headerID" data-buttonid=5 class="btn-right">
            <svg data-buttonid=5 class="btn__icon" width="16" height="16">
                <use data-buttonid=5 href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
        </a>

    </div>
</section>