<section class="header section" id="headerID">
    <div class="container">
        <nav class="nav">
            <div class="nav__logo">
                <a href="" class="nav__logo__img">
                    <svg class="nav__logo__icon" width="24" height="24">
                        <use class="nav__logo__icon__search" href="./images/icon.svg#icon-film"></use>
                    </svg>
                    <!-- <img class="nav__logo__img-picture" src="./images/film-logo@1x.png" alt="logo"> -->
                </a>
                <a class="nav__logo__name link" href="">Filmoteka</a>
            </div>
            <ul class="nav__list list">
                <li class="nav__listlist__item">
                    <a class="nav__list__link link current" href="./index.html">Home</a>
                </li>
                <li class="nav__list__item">
                    <a class="nav__list__link link" href="">My library</a>
                </li>
            </ul>
        </nav>
        <form class="form">
            <label class="form__search">
                <input class="form__search__input" type="text" placeholder="Movie search" />
                <button class="form__btn" type="submit">
                    <svg class="form__icon" width="12" height="12">
                        <use class="form__icon__search" href="./images/icon.svg#icon-search"></use>
                    </svg>
                </button>
            </label>
        </form>
        <div class="footer-error">
            <p class="messege-error">Search result not successful. Enter the correct movie name</p>
        </div>
    </div>
</section>

